<!DOCTYPE html>
<html>
<head>
  <title>Welcome to the Fruit Cart Finder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAlHk9Jd5VRwhdBEFg8X4HgWXt3b0p15Pc&sensor=true" %>

<link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>


</head>
<body>
<div class="right">
<%= link_to "Log in", {:controller => 'sessions', :action => 'new'}%> | 
<%= link_to "Sign up", {:controller => 'users', :action => 'new'}%>

</div>

<div class="logocentered">
<%= image_tag "FruitFinder-logo.png", size: "300x135", alt: "Fruit Cart Finder Logo", :class => "logo" %>


</div>

<%= yield %>

</body>
</html>
